@use "sass:math";
@use "colors";

//keep it this way so as to be able to use a list of properties
@mixin transition($properties: all, $duration: 0.2s, $ease: ease) {
  transition-property: $properties;
  -webkit-transition-property: $properties;
  transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-timing-function: $ease;
  -webkit-transition-timing-function: $ease;
}

@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin filter($filters...) {
  filter: $filters;
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -o-filter: $filters;
}

@mixin underline($underline-distance, $color) {
  border-bottom: solid 1px $color;
  padding-bottom: $underline-distance;
  position: relative;
  top: math.div($underline-distance + 1, 2);
}

@mixin circular($radius) {
  max-width: 2 * $radius;
  max-height: 2 * $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow($dist: 10px, $opacity: 1, $color: colors.$boxshadow) {
  box-shadow: $dist $dist rgba($color, $opacity);
}