@use "mixins";
@use "placeholders";

@use "global";

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 1300px) { @content; }
  }
}

body {
    a {
        color: #d041ff !important; // Style visited links too
    }

    #skip {
        @extend %shadowbox;
        @extend %hide-until-focused;
    }

    div.bug {
        display: none; // Only enabled by JS
        position: absolute;
        font-size: 24px;
    }

    main {
        position: relative;
        display: flex;
        gap: 4rem;
        padding: 4rem;

        @include breakpoint(small) {
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
        }

        p,
        h1,
        h2,
        li {
            @extend %shadowbox;
        }

        h1,
        h2 {
            padding: 0rem 0.7rem;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.6rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                left: 10%;
                margin-right: 10%;
                padding: 0.5rem 0.5rem 0.5rem 1rem;

                display: flex;
                align-items: center;
                justify-content: space-around;

                div.emoji {
                    align-content: center;
                    min-height: 45px;
                    padding-right: 1rem;
                    font-size: 32px;
                    line-height: normal;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }

        #sidebar {
            text-align: center;
            div { 
                display: block;
                margin: auto;
                max-width: 500px;
                min-width: 300px;
                img {
                    border: solid 1px black;
                    @include mixins.circular(50%);
                }
            }
        }

        #content {
            max-width: 600px;

            @include breakpoint(medium) {
                margin: auto;
                max-width: 700px;
                padding-top: 20px;
            }
        }

        div.padding {
            height: 2rem;

            @include breakpoint(medium) {
                height: 1rem;
            }
        }
    }
}