@use "mixins";
@use "placeholders";

@use "global";

body {
    #skip {
        a {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;

            &:focus {
                position: absolute;
                left: 10px;
                top: 10px;
                width: auto;
                height: auto;
                background: white;
                padding: 10px;
            }
        }
    }

    div.bug {
        display: none; // Only enabled by JS
        position: absolute;
        font-size: 24px;
    }

    main {
        position: relative;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 4rem;
        padding: 4rem;

        @media only screen and (max-width: 1145px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fill, 1fr);
        }

        p,
        h1,
        h2,
        li {
            @extend %shadowbox;
        }

        a {
            color: #c45cff;
        }

        h1,
        h2 {
            padding: 0rem 0.7rem;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.6rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                left: 10%;
                margin-right: 10%;
                padding-left: 1rem;

                display: flex;
                align-items: center;
                justify-content: space-around;

                div.emoji {
                    padding-right: 1rem;
                    font-size: 32px;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }

        #sidebar {
            text-align: center;

            img {
                @include mixins.circular(150px);
                border: solid 1px black;
                margin: 0 auto;
            }
        }

        #content {
            max-width: 600px;

            @media only screen and (max-width: 1145px) {
                margin: auto;
                max-width: 700px;
                padding-top: 20px;
            }
        }

        div.padding {
            height: 2rem;
        }
    }
}