@import 'theme';
@import 'fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $lightpink;
}

p,
span,
h1 {
  a,
  span.link {
    color: #888;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: $darkpink;
    }
    &.bandcamp:hover {
      color: $bc;
    }
  }
}

body {
  font-family: 'Inconsolata';
  font-size: $bodyfont;
  font-weight: normal;
}

// GENERAL CLASSES

.hcenter {
  @include hcenter;
}
.vcenter {
  @include vcenter;
}
.center {
  @include center;
}
// .slide-in {
//   @include transform(scale(0, 1));
//   @include transition((transform), 0.5s, ease);
//   @include transform-origin(left center 0);
//   &.loaded {
//     @include transform(scale(1, 1));
//   }
// }
