/* VARS */

$lightpink: #f7e9f7;
$pink: #f5d2f5;
$darkpink: #ffa8e1;
$bc: #40a1c3;
$twitter: #39aef7;
$github: #24292e;
$linkedin: #0077b5;

$border-color: black;

$bodyfont: 18px;

/* MIXINS */

// transitions
@mixin transition($properties: all, $duration: 0.2s, $ease: ease) {
  transition-property: $properties;
  -webkit-transition-property: $properties;
  transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-timing-function: $ease;
  -webkit-transition-timing-function: $ease;
} //keep it this way so as to be able to use a list of properties

// transforms
@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// transform origin
@mixin transform-origin($origin...) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// filter
@mixin filter($filters...) {
  filter: $filters;
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -o-filter: $filters;
}

// letter spacing
@mixin letter-spacing($amount) {
  letter-spacing: $amount;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures; // required for letter spacing
}

// center items
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

// center item vertically
@mixin vcenter {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

// center item horizontally
@mixin hcenter {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

// force an item into a circle of given radius
@mixin circular($radius) {
  width: 2 * $radius;
  height: 2 * $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// floating & "raise on hover" effect
@mixin float($inverse: false) {
  @include transition((box-shadow, transform), 0.2s, ease);
  @if $inverse {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    @include transform(scale(1.02));
    &:hover {
      box-shadow: 0 0 0;
    }
  } @else {
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      @include transform(scale(1.02));
    }
  }
}

// box shadow defaults
@mixin shad($dist: 10px, $opacity: 1) {
  box-shadow: $dist $dist rgba(0, 0, 0, $opacity);
}

// background gradient
@mixin bg-grad($main-color, $secondary-color: white) {
  background: -moz-linear-gradient(
    top,
    $main-color 0%,
    $secondary-color 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    $main-color 0%,
    $secondary-color 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $main-color 0%,
    $secondary-color 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b4f0', endColorstr='#00207cca',GradientType=0 ); /* IE6-9 */
}
