/* VARS */

$lightpink: #f7e9f7;
$pink: #f5d2f5;
$darkpink: #ffa8e1;
$bc: #40a1c3;
$twitter: #39aef7;
$github: #24292e;
$linkedin: #0077b5;

$border-color: black;

$bodyfont: 18px;

/* MIXINS */

// transitions
@mixin transition($properties: all, $duration: 0.2s, $ease: ease) {
  transition-property: $properties;
  -webkit-transition-property: $properties;
  transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-timing-function: $ease;
  -webkit-transition-timing-function: $ease;
} //keep it this way so as to be able to use a list of properties

// transforms
@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// filter
@mixin filter($filters...) {
  filter: $filters;
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -o-filter: $filters;
}

@mixin underline($underline-distance, $color) {
  border-bottom: solid 1px $color;
  padding-bottom: $underline-distance;
  position: relative;
  top: $underline-distance / 2 + 1;
}

// center items
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

// center item vertically
@mixin vcenter {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

// center item horizontally
@mixin hcenter {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

// force an item into a circle of given radius
@mixin circular($radius) {
  width: 2 * $radius;
  height: 2 * $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// box shadow defaults
@mixin shad($dist: 10px, $opacity: 1) {
  box-shadow: $dist $dist rgba(0, 0, 0, $opacity);
}
