---
import Shadowbox from "../layouts/Shadowbox.astro";
---

<Shadowbox>
  <header class="prose-shadowbox">
    <h1>Welcome!</h1>
    <p class="tagline">My name is Addie and I make websites.</p>
  </header>
  <p>
    I am a professional software engineer and web designer with 10+ years of
    experience making things on the internet.
  </p>
  <p>I always make the following commitments to my clients:</p>
  <ul>
    <li>I will design your site to look like no other</li>
    <li>I will make sure it is usable and accessible for all</li>
    <li>I will make it fast, simple, and affordable to maintain</li>
    <li>
      I will not rely, or force you to rely, on big evil web platforms (Google,
      Amazon, Meta etc.)
    </li>
    <li>I will work with human artistry, not with A.I.</li>
  </ul>
  <p>
    I'd love to work with you!&nbsp; Drop me an email at <a
      href="mailto:hello@addieis.online">hello@addieis.online</a
    >.
  </p>
</Shadowbox>
