:root {
  --blue: #071646;
  --green: #90b832;
  --dark-green: #668818;
  --light: #cad3f1;
  --dull: #8e99bc;
}

@font-face {
  font-family: "PP Mondwest";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ppmondwest/PPMondwest-Regular.otf");
}

* {
  font-family: "PP Mondwest", sans-serif;
}

body {
  margin: 0;
  background-color: var(--blue);
  color: var(--light);
  font-size: 1.2em;
}

header {
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  width: 100%;
  background: black;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

.header-content {
  max-width: 975px;
  margin: auto;
  padding: 1rem;
}

#tabs {
  width: fit-content;
  display: flex;
  gap: 8px;
}

.tab {
  border: solid 1px var(--dull);
  border-bottom: none;
  color: var(--green);
  font-size: 1.2em;
  cursor: pointer;
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}

.tab.active {
  text-decoration: underline;
  box-shadow: 0px 4px 0 -1px var(--blue);
  z-index: 5;
}

.tab:not(.active) {
  color: var(--dark-green);
  background: black;
}

#search-box {
  max-width: 600px;
  padding: 16px;
  font-size: 1.2em;
  border: 1px solid var(--dull);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

hr {
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  border-color: var(--light);
  opacity: 0.5;
}

#search-input {
  border: solid 1px var(--dull);
  padding: 4px 6px;
  font-size: 1.6rem;
  width: 100%;
}

#search-input::placeholder {
  color: #fff4
}

.search-item {
  margin: 1rem 0;
}

a.search-time {
  font-size: 1.2rem;
}

p.search-text {
  margin: 0;
  margin-bottom: 1rem;
}

.search-footer {
  margin-top: 10px;
}

.sorting {
  line-height: 1.7em;
  margin-bottom: 10px;
}

.sort-button {
  color: var(--green);
  font-size: 1.0em;
}

.sort-button:first-child {
  margin-left: 5px;
}

.sort-button.active {
  text-decoration: underline;
}

.wrapper {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  word-wrap: break-word;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 4rem;
}

.tweet {
  background-color: var(--light);
  max-width: 600px;
  padding: 16px;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 16px;
}

.tweet img {
  max-height: 100%;
  vertical-align: bottom;
  width: 100%;
  object-fit: cover;
}

.tweet video {
  max-height: 100%;
  vertical-align: bottom;
  width: 100%;
}

.tweet ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.tweet li {
  height: 20vh;
  width: 20vh;
  flex-grow: 1;
}

.tweet .display_name {
  margin-bottom: 0;
  margin-top: 0;
}

.tweet .user_name {
  margin-top: 4px;
}

.tweet .favorite_count {
  display: inline-block;
  margin-bottom: 0;
}

.tweet .retweet_count {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 0;
}

.tweet .created_at {
  margin-bottom: 0;
}

.tweet .permalink {
  margin-left: 16px;
}

.child {
  margin-top: 16px;
  margin-left: 64px;
  max-width: calc(600px - 64px);
  background-color: var(--light);
}

.parent {
  margin-bottom: 16px;
  margin-right: 64px;
  max-width: calc(600px - 64px);
  background-color: var(--light);
}

@media screen and (max-width: 599px) {
  .tweet li {
    height: 15vh;
    width: 15vh;
    flex-grow: 1;
  }
}

@media(prefers-color-scheme: dark) {

  a {
    color: var(--green);
    text-decoration: none;
  }

  a:hover {
    color: var(--green);
    text-decoration: underline;
  }

  .tweet {
    background-color: var(--blue);
    border: 1px solid gray;
    /*#33ff00;*/
    border-radius: 5px;
  }

  .child {
    background-color: var(--blue);
  }

  .parent {
    background-color: var(--blue);
  }

  button {
    background-color: var(--blue);
    color: var(--light);
  }

  input {
    background-color: var(--blue);
    color: var(--light);
  }

  .tweet .favorite_count,
  .tweet .retweet_count {
    color: var(--dull);
  }
}

.hr {
  margin: 0 -16px 16px -16px;
}

#page-num {
  font-size: 1.0em;
  width: 40px;
  border: solid 1px var(--dull);
  border-radius: 4px;
  padding: 0 5px;
}

#paging {
  margin: 8px 0 24px 0;
}

.gallery ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery img,
.gallery video {
  width: 100%;
  max-height: 70vh;
}