@use "fonts";
@use "colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: colors.$background;
  color: colors.$text;
}

a,
span.link {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: colors.$link;
  }
}

body {
  font-family: "Inconsolata";
  font-size: 18px;
}

@include fonts.font-faces;
